html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
  }
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: rgb(67, 67, 67);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  header {
    width: 100%;
    height:40%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
    color:white;
  }
  
  .controls {
    display:flex;
    flex-direction:row;
    width: 100%;
    padding: 10px 10px;
  }
  
  .button {
    display: block;
    color: white;
    border-color: rgb(178, 178, 178);
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: 18%;
    height:20%;
    font-size: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  #red-button {
    background-color: #520000;
    margin-bottom: 15px;
  }
  #red-button:hover {
    background-color: #700000;
  }

  #orange-button {
    background-color: #522C00;
    margin-bottom: 15px;
  }
  #orange-button:hover {
    background-color: #703C00;
  }

  #yellow-button {
    background-color: #524B00;
    margin-bottom: 15px;
  }
  #yellow-button:hover {
    background-color: #706600;
  }

  #green-button {
    background-color: #125200;
    margin-bottom: 15px;
  }
  #green-button:hover {
    background-color: #187000;
  }

  #blue-button {
    background-color: #002552;
    margin-bottom: 15px;
  }
  #blue-button:hover {
    background-color: #003270;
  }

  #purple-button {
    background-color: #2C0052;
    margin-bottom: 15px;
  }
  #purple-button:hover {
    background-color: #3C0070;
  }
  #pink-button {
    background-color: #520038;
    margin-bottom: 15px;
  }
  #pink-button:hover {
    background-color: #70004C;
  }
  
  .color-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }

  .colorholder{
    display:none;
    flex-direction:row;
    justify-content:center;
    gap:10px;
    padding: 10px 10px;
  }
  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
  }

  .reflection{
    display:flex;
    padding:10px;
    color:lightgrey;

    a{
      color:lightskyblue;
    }

    a:visited{
      color:orchid;
    }

  }