.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

html{
    padding:40px;
    background-color:#00334F;
    color:white;
}
nav{
    font-family: "Tiny5", sans-serif;
    font-size:24px;
    text-decoration:none;
    display:flex;
}
.navlink{
    width:240px;
    background-color:#3C1642;
    padding:10px;
}
.navlink:hover{
    background-color:black;
}
a{
    text-decoration:underline;
    color:#53FFEE
}
a:hover{
    color:#AFFC41;
}
a:visited{
    color:#FFA8A3;
}
p{
    font-family:"IBM Plex Mono", monospace;
}
a{
    font-family:"IBM Plex Mono", monospace;
}
ul{
    font-family:"IBM Plex Mono", monospace;
}
h1{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:48px;
    color:#AFFC41;
}
h2{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    color:#AFFC41;
}
h3{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:32px;
    color:#AFFC41;
}
.gallery{
    width:500px;
    padding:20px;
    background-color:white;
}
footer{
    font-family: "Tiny5", sans-serif;
    color:#53FFEE;
    padding:20px;
}